@import '../../styles/vars';

.error {
    border: 1px solid $color-error;
    border-radius: $border-radius !important;
}

.error-icon {
    margin-right: 10px;
    color: $color-error;
}

.error-header {
    display: flex;
    align-items: center;
}